/* src/components/Header.css */
@media (min-width: 1024px) {
    /* Styles for desktop view */
    .flex-grow img {
      order: 1;
    }
  
    .flex-grow ul {
      order: 2;
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
    }
  }
  
  @media (max-width: 1023px) {
    /* Styles for mobile view */
    .flex-grow {
      justify-content: flex-end !important;
    }
  
    .flex-grow img {
      margin-left: auto;
      margin-right: 0;
    }
  
    .flex-grow ul {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .header{
    background-color: #07706C;
  }
  